---
import type { GetStaticPaths, InferGetStaticParamsType } from 'astro'
import { stored } from '../stored.json'
import Layout from '../../layouts/Layout.astro'
import { getMediaUrls } from '../../helper/getMediaUrls'
import { Box, Container, styled } from '../../../styled-system/react'
const { a: A, h1: H1, img: Img } = styled

export const getStaticPaths = (() => {
  return stored.map((item) => ({ params: { id: item.id } }))
}) satisfies GetStaticPaths

const { id } = Astro.params as InferGetStaticParamsType<typeof getStaticPaths>
const item = stored.find((item) => item.id === id)!
const media = getMediaUrls(item)
// make use of css aspect ratio? https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio
---

  <Layout>
    <Container h="100dvh" display="flex" flexDirection="column" justifyContent="space-between">
      <Box display="flex" h="80dvh" placeContent="center">
        <Box>
          <A href="/" fontSize="4xl">
            x
          </A>
          <Box className="pixel-bg" height="100%" p="25px" style={{ background: `url(${media.pixelUrl})` }}>
            <Img
              src={media.cdnUrl}
              alt={item.title}
              height="100%"
              objectFit="contain"
              boxShadow="xl"
            />
          </Box>
          <A href={`https://www.reddit.com/${item.id}`} fontSize="xl">
            [source]
          </A>
        </Box>
      </Box>
      <H1 textAlign="center">{item.title}</H1>
    </Container>
    <script>
      import mediumZoom from 'https://esm.sh/medium-zoom@1.0.8'
      const img = document.querySelector('img')
      const pixel = document.querySelector('.pixel-bg').style.backgroundImage
      mediumZoom(img, {
        background: pixel,
      })
    </script>
  </Layout>
